
<div class="container portfolio">
    {% for project in projects %}
      <div class="card small">

            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{project.name}}</span>
                <p class="technology grey-text text-darken-1">{{project.technology}}</p>
                <p>{{project.summary}}</p>
            </div>

            <div class="card-action">
                {% for link in project.links %}
                <a target="_blank" href="{{link.url}}">{{link.label}}</a>
                {% endfor %}
            </div>

      </div>
    {% endfor %}
</div>
