{% extends "base.html" %}


{% block body %}

    {% include "fragments/heading.html" %}
    <div class="container contact-info">
      <div class="row center">
        <p>
            [redacted]@redacted  1-XXX-XXX-XXXX
            <br>
            <a target="_blank" href="https://github.com/coffindragger">https://github.com/coffindragger</a>,
            <a target="_blank" href="https://github.com/lithium">https://github.com/lithium</a>
        </p>
      </div>
    </div>


    <div class="container">
        {% include "fragments/skill-list.html" %}
    </div>

    <div class="container" style="page-break-before: right">
        <h5>Wiggins' Experience</h5>
    </div>
    {% include "fragments/experience-list.html" %}

{% endblock %}
