{% extends "base-nav.html" %}

{% block content %}


{% include "fragments/heading.html" %}


<div class="container">
    <div class="section">



      <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
              <div class="icon-block card-content">
                  <a href="{% url 'portfolio' %}">

                    <h2 class="center light-blue-text"><i class="material-icons">source</i></h2>
                    <h5 class="center">Portfolio</h5>

                    <p class="light black-text">
                        A few brief examples of projects I have done over the years.
                    </p>
                  </a>
              </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card">
              <div class="icon-block card-content">
                <a href="{% url 'skills' %}">
                    <h2 class="center light-blue-text"><i class="material-icons">build_circle</i></h2>
                    <h5 class="center">Skills</h5>
                    <p class="light black-text">
                        Experience developing and leading teams of developers in many languages and platforms to deliver projects on time and under budget.
                    </p>
                </a>
              </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card">
              <div class="icon-block card-content">
                <a href="{% url 'experience' %}">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Experience</h5>
                    <p class="light black-text">
                        Over 15 years in software development.
                    </p>
                </a>
              </div>
            </div>
        </div>

      </div>

    </div>
    <br><br>
</div>
{% endblock %}